.pagination{
    margin-bottom: 40px;
    text-align: center;

    
}

.pagination button {
    margin-right: 10px;
    border: 1px solid green;
    padding: 5px 15px;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 40px;
}

.pagination .selected {
    background-color:  orange;
}